@import "tailwindcss";
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */

@media print {
    body * {
      visibility: hidden;
    }
  
    .print\:block,
    .print\:block * {
      visibility: visible;
    }
  
    .print\:block {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
    }
  }